@use "@picocss/pico/scss/pico";
html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
/* nav styles */

.nav-links a {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  color: #ff9776;
}

.active {
  color: red;
}

.nav-links input[type="checkbox"] {
  display: none;
}
#sub-menu1 {
  display: none;
}
.nav-links:has(input#sm1[type="checkbox"]:checked) #sub-menu1 {
  display: block;
}

@media only screen and (min-width: 769px) {
  nav {
    display: flex;
    justify-content: flex-end;
  }
  #sub-menu1 {
    position: absolute;
    background: var(--pico-primary-inverse);
    padding: 0.5em;
    border: solid var(--pico-primary);
    border-width: 2px 0 0 0;
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
  }
  .nav-links li:has(label:hover) #sub-menu1,
  #sub-menu1:hover {
    display: block;
  }
  .nav-links {
    margin-left: 5em;
    display: flex;
    justify-content: flex-end;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 2px 20px;
  }
  .hamburger {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
  nav,
  nav ul,
  nav li {
    display: block;
    text-align: left;
  }
  #sub-menu1,
  #sub-menu2 {
    background-color: bisque;
    width: fit-content;
    padding: 1em;
  }
  .nav-links {
    width: 100%;
    top: 5rem;
    color: #ff9776;
    display: none;
    margin: 0;
  }
  .expanded {
    // display: block;
    display: unset;
  }
}
