---
// import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const { tag } = Astro.params;

if (tag === undefined) {
  throw new Error("Tag is required");
}

const allBlogArticles: CollectionEntry<"posts">[] = (
  await getCollection("posts")
).sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag)
);

// const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      tagArticles.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
