---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Test Page";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>This is the test page</p>
  <div class="container-fluid">
    <article>
      <div class="framed-image">
        <img src="../../assets/images/VivFrame.png" alt="Test Image" />
      </div>
      <div class="glass-card"></div>
      <div class="viv-background"></div>
    </article>
  </div>
</BaseLayout>
<style language="scss">
  .glass-card {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    /* opacity: 1; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  .viv-background {
    background-image: url("../../assets/images/VivRowdenTTLG.png");
    /* opacity: 1; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .framed-image {
    position: relative;
    z-index: 0;
  }
  /* .framed-image {
    position: relative;
    z-index: 0;
    & img {
      background-image: url("../../assets/images/VivRowdenTTLG.png"); */
  /* backdrop-filter: blur(1rem); */
  height: 390px; /* You must set a specified height */
  width: 390px; /* You must set a specified height */
  /* background-position: center;
      background-repeat: no-repeat; Do not repeat the image
      background-size: 300px; Resize the background image to cover the entire container */
  /* padding: 1em; */
  /* }
  } */
</style>
