---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Image Upload";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
      </head>
      <body>
        <BaseLayout pageTitle={pageTitle}>
          <form action="/upload" method="post" enctype="multipart/form-data">
            <input
              type="file"
              name="fileUpload"
              accept="image/*"
              style="margin-top: 1rem;"
            />
            <div>
              <input
                type="submit"
                style="width:auto"
                value="Upload Image File"
              />
            </div>
          </form>
        </BaseLayout>
      </body>
    </html>
  </head>
</html>
