---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Test Page 2";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>This is the test page</p>
  <div class="container-fluid">
    <article>
      <div class="image-container">
        <div class="framed-image">
          <!-- <img src="../../assets/images/VivTTLGMirror.png" alt="Mirror" /> -->
        </div>
        <div class="mirror-overlay">
          <img
            src="../../assets/images/VivTTLGMirrorOverlay.png"
            alt="Mirror Overlay"
          />
        </div>
      </div>
    </article>
  </div>
  <style>
    .image-container {
      position: relative;
      display: flex;
      align-items: center;
      justify-items: center;
      overflow: hidden;
    }
    .mirror-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 680px;
      height: 997px;
      /* width: 100%;
      height: 100%; */

      /* scale: 0.46; */
      z-index: 5;
      /* opacity: 1; */
      /* visibility: visible;
	transition: opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1), visibility 0s 0.5s; */
      /* opacity: 1; */
      /* -webkit-transition: opacity 5s; */
      /* transition: opacity 5s; */
      /* animation: fadeOut 5s 6s; */
      animation: fadeOut 5s 1s ease-in-out forwards;
      /* @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      } */
      /* @keyframes fadeOut {
        0% {
          transform: filter(opacity: 1);
        }
        100% {
          transform: filter (opacity: 0);
        }
      } */
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .framed-image {
      z-index: 3;
      width: 680px;
      height: 997px;
      background: url("../../assets/images/VivTTLGMirror.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</BaseLayout>
