---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
// import { fade } from "astro:transitions";
const pageTitle = "Test Page 4";

// const anim = {
//   old: {
//     name: 'fadeOut',
//     duration: '3s',
//     easing: 'ease-in',
//     direction: 'reverse',
//   },
//   new: {
//     name: 'fadeOut',
//     duration: '3s',
//     easing: 'ease-in-out',
//   },
// };

// const customTransition = {
//   forwards: anim,
//   backwards: anim,
// };
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <p>This is the test page using CSS Grid</p>
  <div class="container-fluid">
    <article>
      <div class="container-fluid">
        <h1 class="hero1">through the</h1>
      </div>
      <div class="container-fluid">
        <h1 class="hero2">looking glass</h1>
      </div>
      <div class="image-grid">
        <div class="img img_bottom">
          <img src="../../assets/images/TTLGMirror.png" alt="Mirror" />
        </div>
        <!-- <div transition:animate={fade({ duration: "4s" })} class="img img_top"> -->
        <div class="img img_top">
          <img src="../../assets/images/VivTTLG.png" alt="Mirror Overlay" />
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
<style>
  .hero1 {
    margin-bottom: 0;
    opacity: 0;
    animation: fadeIn 5s 1s ease-in-out forwards;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .hero2 {
    margin-top: 0;
    opacity: 0;
    animation: fadeIn 5s 2.5s ease-in-out forwards;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .image-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: auto;
  }
  .image-grid .img_bottom {
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  .image-grid .img_top {
    grid-column: 1 / span 1;
    grid-row: 1;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 5s 2.5s ease-in-out forwards;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
</style>
<script>
  //     document.documentElement.classList.add('opaque');
  // window.onload = (event) => {
  //       document.documentElement.classList.remove('opaque');
  // };
</script>
