---
export const prerender = true;

// if (Astro.request.method === "POST") {
//   const formData = await Astro.request.formData();
//   const name = formData.get("name");
//   const email = formData.get("email");
//   const message = formData.get("message");
//   // const formid = formData.get("id");
//   // Process the form data (e.g., send an email, save to database)

//   // Redirect to a thank you page
//   // return Astro.redirect("/thank-you");
// }
---

<form
  name="maverick contact form"
  netlify-honeypot="bot-field"
  data-netlify="true"
  data-astro-reload
  novalidate
>
  <p class="hidden">
    <label>
      Don't fill this out if you're human: <input name="bot-field" />
    </label>
  </p>
  <input
    type="hidden"
    name="maverick contact form"
    data-remove-prefix
    value="Contact Form from themaverick.net.au"
  />
  <fieldset class="grid">
    <p><label>Name: <input type="text" name="name" /></label></p>
    <p>
      <label>Email Address: <input type="email" name="email" /></label>
    </p>
  </fieldset>
  <fieldset>
    <p>
      <label>
        Message: <textarea name="message"></textarea>
      </label>
    </p>
  </fieldset>
  <div data-netlify-recaptcha="true"></div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
<!-- <script is:inline>
  const handleSubmit = (event) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch("/contactform.html", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => alert("Form successfully submitted"))
      .catch((error) => alert(error));
  };

  document.querySelector("form").addEventListener("submit", handleSubmit);
</script> -->
<style>
  .hidden {
    display: none;
  }
  label {
    color: var(--pico-color);
  }
  button {
    width: 50%;
    margin-top: 2em;
  }
  #contact-form {
    color: red;
  }
</style>
