---
import DownIcon from "./QuillInlineDown.astro";
---

<div class="nav-links">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="#">
        <label for="sm1" title="Open Sub-menu" class="drop-icon"
          >Martin <DownIcon /></label
        >
      </a>
      <input type="checkbox" class="dropdown" id="sm1" />
      <aside>
        <ul class="sub-menu">
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </aside>
    </li>
  </ul>
</div>
