---
import DownIcon from "./QuillInlineDown.astro";
---

<nav class="nav-links">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/mirror/">Mirror</a>
    </li>
    <li>
      <a href="/upload/">Image Upload</a>
    </li>
    <li>
      <a href="#">
        <label for="sm1" title="Open Sub-menu" class="drop-icon"
          >Martin <DownIcon />
        </label>
      </a>
      <input type="checkbox" class="dropdown" id="sm1" />
      <aside>
        <ul class="sub-menu martin">
          <li><a href="/about/">About</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </aside>
    </li>
    <li><a href="/tags/">Tags</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
