---
import "../styles/global.scss";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// View Transitions interferes with menu
// import ViewTransitions from "astro/components/ViewTransitions.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <ViewTransitions /> -->
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="container-fluid">
      <Header />
      <h1>{pageTitle}</h1>
      <slot />
      <Footer />
    </div>
    <style is:global>
      @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    </style>
    <script>
      import "../scripts/menu.js";

      // var current_page = window.location.href + "index.html";
      // fetch("/page_view?page=" + encodeURIComponent(current_page), {
      //   method: "GET",
      //   headers: {
      //     "Content-Type": "application/x-www-form-urlencoded",
      //   },
      // })
      //   .then((response) => response.json())
      //   .then((data) => {
      //     var viewCount = data.data.view_count;
      //     document.getElementById("viewCountText").textContent = viewCount;
      //     var svg = document.querySelector("svg");
      //     svg.setAttribute("aria-label", "VIEW: " + viewCount);
      //   });
      // .catch((error) => console.error("Error:", error));
    </script>
  </body>
</html>
